project:
  type: website
  output-dir: docs

website:
  favicon: images/me.jpeg
  title: "Grace Tompkins"
  navbar:
    search: true
    left:
      - href: index.qmd
        text: Home
      - courses.qmd
      - sidebar:projects
      - extracurric
      
      
  sidebar:
    - id: projects
      title: "Projects"
      style: "docked"
      background: light
      collapse-level: 2
      contents: 
        - projects/project1.qmd
        - projects/project2.qmd
        
    - id: extracurric





format:
  html:
    theme:
      - cosmo
      - brand
    css: styles.css
    toc: true



